.bg-orange{
    background-color: #F0AB50;
}
.bg-dark{
    background-color: #363636;
}
.bg-purple{
    background-color: #7256C3;
}
.bg-white{
    background-color: #FFFFFF;
}
.color-orange{
    color: #F0AB50;
}

.color-dark{
    color: #363636;
}
.color-purple{
    color: #7256C3;
}
.color-white{
    color: #FFFFFF;
}